{% extends 'base.html' %}

{% block title %}
{% endblock title %}

{% block body %}
<h3>Список жанров</h3>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Номер</th>
      <th scope="col">Автор</th>
        {% if user.is_authenticated %}
      {% if perms.refers.change_genres %}
        <th scope="col">Редактировать</th>
      {% endif %}
        {% endif %}
    </tr>
  </thead>
  <tbody>
  {% for obj in object_list %}
    <tr>
      <th scope="row">{{obj.id}}</th>
      <td>{{obj.name}}</td>
        {% if user.is_authenticated %}
      {% if perms.refers.change_genres %}
        <td><a href="{% url 'refers:genres_update' obj.pk %}"><i class="material-icons">edit</i></a>
          {% endif %}
          {% if perms.refers.delete_genres %}
        <a href="{% url 'refers:genres_delete' obj.pk %}"><i class="material-icons">delete</a></td>
      {% endif %}
        {% endif %}
    </tr>
   {% endfor %}
  </tbody>
</table>
</table>
{% endblock body %}

