{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block body %}

<form action="" method="post">
    {% csrf_token %}
    {% if form.email.errors %} {{ form.email.errors }} {% endif %}
    <div class="form-group row">
        <label for="inputEmail" class="col-sm-2 col-form-label">Введите email</label>
        <div class="col-sm-10">
            <input type={{form.email}}
        </div>
    </div>
    <button type="submit" class="waves-effect waves-light btn-small">Сбросить пароль</button>
</form>

{% endblock body %}

